<h1>Tareas list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Socio</th>
            <th>Notas</th>
            <th>Terminada</th>
            <th>Telefono</th>
            <th>Correo</th>
         
        </tr>
    </thead>
    <tbody>
      {% for entity in etareas %}
        <tr>
            <td>{{ entity.Nombre }}</td>
            <td>{% if entity.Fecha %}{{ entity.Fecha|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.socios }}</td>
            <td>{{ entity.Notas }}</td>
            
            <td>{% if entity.Terminada %}{{'terminada'}}{% else %}{{'sin terminar'}}{% endif%}</td>
            <td>{{ entity.socios.telefono }}</td>
            <td>{{ entity.socios.correo }}</td>
    
        </tr>
   {% endfor %}
    </tbody>
</table>

