{% extends "Siga21SociosBundle::basesocios.html.twig" %}
{% block title "Listado de Socios" %}
{% block cabeza %}
	<h1>Tareas y Asociados</h1>
{% endblock %}
{% block contenido %}
<center>
<br />
<table  cellpading="5" border="1" style="font:bold 16px Arial;color: #a0a0a0; background-color #fff; border-collapse: collapse;">
    <thead>
        <tr padding='3'>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Socio</th>
            <th>Notas</th>
            <th>Terminada</th>
            <th>Telefono</th>
            <th>Correo</th>
         
        </tr>
    </thead>
    <tbody>
      {% for entity in etareas %}
        <tr>
            <td align="center" width="150">{{ entity.Nombre }}</td>
            <td align="center" width="100">{% if entity.Fecha %}{{ entity.Fecha|date('d-m-Y') }}{% endif%}</td>
            <td align="center" width="100">{{ entity.socios }}</td>
            <td align="center" width="100">{{ entity.Notas }}</td>
            <td align="center" width="10">{{ entity.Terminada }}</td>
            <td align="center" width="100">{{ entity.socios.telefono }}</td>
            <td align="center" width="100">{{ entity.socios.correo }}</td>
    
        </tr>
   {% endfor %}
    </tbody>
</table>
<br />
</center>
{% endblock %}

{% block footer %}
<p>(c) nocopyright 2011</p>
{% endblock %}
