<h1>Editar Socio</h1>

<form action="{{ path('mano_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('mano') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <form action="{{ path('mano_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
