<h1>Mano list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Fecha_de_nacimiento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('mano_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.Nombre }}</td>
            <td>{{ entity.Especialidad }}</td>
            <td>{% if entity.FechaDeNacimiento %}{{ entity.FechaDeNacimiento|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('mano_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mano_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('mano_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
