{% extends "Siga21SociosBundle::basesocios.html.twig" %}
{% block title "Listado de Socios" %}
{% block cabeza %}
	<h1>Socios</h1>
{% endblock %}
{% block contenido %}
<center>
<br />
<table  cellpading="3" border="1" style="font:bold 16px Arial;color: #a0a0a0; background-color #fff; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Ver</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td align="center" width="50"><a href="{{ path('mano_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td align="center" width="100">{{ entity.Nombre }}</td>
            <td align="center" width="250">{{ entity.Especialidad }}</td>
            <td align="center" width="100">{% if entity.FechaDeNacimiento %}{{ entity.FechaDeNacimiento|date('d-m-Y') }}{% endif%}</td>
            <td align="center" width="75"><a href="{{ path('mano_show', { 'id': entity.id }) }}">
              <img src="{{ asset('bundles/Siga21/images/ver.jpg') }}" alt="Ver">
              </a></td>
            <td align="center" width="75"><a href="{{ path('mano_edit', { 'id': entity.id }) }}">
              <img src="{{ asset('bundles/Siga21/images/editar.gif') }}" alt="Editar">
              </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="{{ path('mano_new') }}"> <img src="{{ asset('bundles/Siga21/images/add.gif') }}" alt="Añadir">
</a>
</center>
{% endblock %}

{% block footer %}
<p>(c) nocopyright 2011</p>
{% endblock %}
