{% extends "Siga21SociosBundle::basesocios.html.twig" %}
{% block title "Ver Socio" %}
{% block cabeza %}
	<h1>Socio {{ entity.Nombre }}</h1>
{% endblock %}
{% block contenido %}
<center>
<br />
<table  cellpading="3" border="1" style="font:bold 16px Arial;color: #a0a0a0; background-color #fff; border-collapse: collapse;">
   <tr>
      <th width="200" align="center">Id</th>
      <td width="200" align="center">{{ entity.id }}</td>
   </tr>
   <tr>
      <th align="center">Nombre</th>
      <td align="center">{{ entity.Nombre }}</td>
   </tr>
   <tr>
      <th align="center">Especialidad</th>
      <td align="center">{{ entity.Especialidad }}</td>
   </tr>
   <tr>
      <th align="center">Fecha_de_nacimiento</th>
      <td align="center">{{ entity.FechaDeNacimiento|date('Y-m-d H:i:s') }}</td>
   </tr>
</table>
<br />

<a href="{{ path('mano') }}"><img src="{{ asset('bundles/Siga21/images/back.gif') }}" alt="Volver"></a>
<a href="{{ path('mano_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/Siga21/images/editar.gif') }}" alt="Editar"></a>
<form action="{{ path('mano_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit"><img src="{{ asset('bundles/Siga21/images/trash.gif') }}" alt="Borrar"></button>
</form>

</center>
{% endblock %}

{% block footer %}
<p>(c) nocopyright 2011</p>
{% endblock %}
