<h1>Asociados list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Socios</th>
            <th>Nome</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('asociados_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.socios }}</td>
            <td>{{ entity.nome }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.correo }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('asociados_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('asociados_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('asociados_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
